<div class="header">
  <div class="container">
    <h1 class="logo">
      <img src='{{ "/assets/img/연구실 로고/nlp_logo5_black.png" | prepend: site.baseurl }}' alt="NLPLab logo"/>
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <nav class="nav-collapse">
      <ul class="noList">
        {% for link in site.navigation %}
          <li class="element {% if page.url contains link.url %}current{% endif %}">
            <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <li class="element mobile-only-link">
          <a href="{{ site.social.github }}" target="_blank">GitHub</a>
        </li>
        <li class="element mobile-only-link">
          <a href="{{ site.social.apply }}" target="_blank">Apply</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
